<section *ngIf="!(isPageLoading$ | async)">
  <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="10px" class="mt-3 mb-3 mr-1 ml-1 w-100 mat-card">
    <!--Left Column-->
    <div fxLayout="column" class="expand-title w-100" fxLayoutAlign="center center" fxLayoutGap="10px">
      <div class="people-avatar">
        <img src="../../../../assets/img/user/defalt-avatar.jpg" alt="USER">
      </div>
    </div>
    <!--Right Column-->
    <div fxLayout="column" class="expand-title w-100 pr-5 pl-5" fxLayoutAlign="start start" fxLayoutGap="10px">
      <div class="w-100" fxLayout="row" fxLayoutAlign="start center">
        <span class="w-40"><b>Name</b></span>
        <span class="mr-2">:</span>
        <span>{{authUser.displayName !== null ? authUser.displayName : 'N/A'}}</span>
      </div>
      <div class="w-100" fxLayout="row" fxLayoutAlign="start center">
        <span class="w-40"><b>Email</b></span>
        <span class="mr-2">:</span>
        <span>{{authUser.email !== null ? authUser.email : 'N/A'}}</span>
      </div>
      <div class="w-100" fxLayout="row" fxLayoutAlign="start center">
        <span class="w-40"><b>Phone</b></span>
        <span class="mr-2">:</span>
        <span>{{authUser.phone !== null ? authUser.phone : 'N/A'}}</span>
      </div>
      <div class="w-100" fxLayout="row" fxLayoutAlign="start center">
        <span class="w-40"><b>Introduction</b></span>
        <span class="mr-2">:</span>
        <span>{{authUser.intro !== null ? authUser.intro : 'N/A'}}</span>
      </div>
    </div>

  </div>
</section>

<div *ngIf="isPageLoading$ | async" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px" class="w-100">
  <mat-spinner [strokeWidth]="10" [diameter]="100"></mat-spinner>
</div>
