<h2 mat-dialog-title>Welcome, Please let us know bit more about you</h2>
<form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px" [formGroup]="profileForm" (ngSubmit)="onSubmit()">

  <mat-dialog-content class="mb-1">
    <div fxLayout="column" fxLayoutAlign="center center" class="w-100">

      <mat-form-field class="w-100">
        <input
          type="email"
          id="email"
          placeholder="Email"
          matInput
          required
          readonly
          formControlName="email">
        <mat-error *ngIf="!profileForm.get('email').valid && profileForm.get('email').errors['required']">
          • Email is required
        </mat-error>
        <mat-error *ngIf="!profileForm.get('email').valid && profileForm.get('email').errors['email']">
          • Invalid email address
        </mat-error>
        <mat-hint>
          • You can't change the email address
        </mat-hint>
      </mat-form-field>

      <mat-form-field class="w-100">
        <input
          type="text"
          id="displayName"
          placeholder="Name"
          matInput
          required
          formControlName="displayName">
        <mat-error *ngIf="!profileForm.get('displayName').valid && profileForm.get('displayName').errors['required']">
          • Name is required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="w-100">
        <input
          type="text"
          id="phone"
          placeholder="Phone Number"
          matInput
          required
          formControlName="phone">
        <mat-error *ngIf="!profileForm.get('phone').valid && profileForm.get('phone').errors['required']">
          • Phone number is required
        </mat-error>
        <mat-error *ngIf="!profileForm.get('phone').valid && profileForm.get('phone').errors['pattern']">
            • Please enter valid phone numbers
        </mat-error>
        <mat-hint>
          • ex :- +94719876543
        </mat-hint>
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-label>Introduction about you</mat-label>
        <textarea
          matInput
          formControlName="intro"
          cdkTextareaAutosize
          #autosizeMobile="cdkTextareaAutosize"
          cdkAutosizeMinRows="1"
          cdkAutosizeMaxRows="9"
        >
        </textarea>
      </mat-form-field>

    </div>
  </mat-dialog-content>

  <mat-dialog-actions fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="15px" class="mb-1">
    <button type="submit" mat-raised-button color="primary">Submit</button>
  </mat-dialog-actions>
</form>
