<section>
  <div class="expand-table mat-elevation-z4 w-100" *ngIf="dataSource.data.length > 0">
    <table mat-table [dataSource]="dataSource" class="w-100">

      <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef> No</th>
        <td mat-cell *matCellDef="let element; let i = index;">{{dataSource.filteredData.indexOf(element)+ 1}} </td>
      </ng-container>

      <ng-container matColumnDef="message">
        <th mat-header-cell *matHeaderCellDef> Message </th>
        <td mat-cell *matCellDef="let element"> {{element.message}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="paginatorConfig.options" [pageSize]="paginatorConfig.defaultPageSize">
    </mat-paginator>
  </div>
</section>
