<mat-sidenav-container class="sidenav-container vh-100">

  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="!(isHandset$ | async)">
    <div class="app-logo mat-elevation-z2 mb-1">
      <img src="assets/img/logo/logo.png" alt="Durdans Hospitals">
    </div>
    <div class="mat-elevation-z2 mb-1">
      <app-sidenav-profile></app-sidenav-profile>
    </div>
    <div class="mat-elevation-z2 mb-1">
      <app-sidenav-list></app-sidenav-list>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="header-toolbar mat-elevation-z2">
      <div>
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      </div>
      <div class="spacer" *ngIf="isHandset$ | async"></div>
      <div class="page-title">
        {{ title$ | async }}
      </div>

      <div class="spacer"></div>

      <div class="user-actions" *ngIf="!(isHandset$ | async)">
        <div *ngIf="(authUser$ | async) !== null" [matMenuTriggerFor]="menu" class="user-info hand-pointer" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
          <img mat-card-avatar src="assets/img/user/defalt-avatar.jpg" alt="AVATAR">
          <div class="user-info-text" fxLayout="column" fxLayoutAlign="center start">
            <h4>{{(authUser$ | async).displayName}}</h4>
            <p>{{(authUser$ | async).email}}</p>
          </div>
        </div>
        <div *ngIf="(authUser$ | async) === null">
          <mat-spinner diameter="40"></mat-spinner>
        </div>
        <mat-menu #menu="matMenu">
          <a mat-menu-item routerLink="/messenger/user-profile">
            <mat-icon>account_box</mat-icon>
            <span>My Profile</span>
          </a>
          <!--a mat-menu-item>
            <mat-icon>notifications</mat-icon>
            <span>Notifications</span>
          </a-->
          <a mat-menu-item (click)="onLogout()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Logout</span>
          </a>
        </mat-menu>
      </div>
    </mat-toolbar>

    <!-- Page Content Start -->
    <ng-content></ng-content>
    <!-- Page Content End -->

  </mat-sidenav-content>
</mat-sidenav-container>
