@import "variables";
.sidenav-container{
  .sidenav{
    width: $sidenav-width;
    background-color: $sidenav-background-dark-color;
    .app-logo{
      height: 64px;
      text-align: center;
      background-color: $sidenav-background-light-color;
      img{
        padding: 2px;
        height: 60px;
        width: auto;
      }
    }
  }
  mat-sidenav-content{
    min-height: 100vh;
    .header-toolbar{
      background-color: $header-toolbar-color;
      .user-actions{
        .user-info{
          img{
            height: 35px;
            width: 35px;
            border: 2px solid $sidenav-text-color;
            border-radius: 50%;
          }
          .user-info-text{
            margin-left: 5px;
            h4{
              font-size: 1rem;
            }
            p {
              font-size: 0.7rem;
            }
            h4, p {
              margin: 0;
              line-height: normal;
            }
          }
        }
      }
    }
  }
}
