.not-found-page{
  .image-div{
    text-align: center;
    img{
      height: 400px;
      width: 400px;
    }
  }
  .footer-div{
    text-align: center;
    h2{
      font-size: 2rem;
      margin-bottom: 2rem;
    }
  }
}
