tr.table-expand-detail-row {
  height: 0;
}

tr.table-expand-element-row:not(.table-expanded-row):hover {
  background: rgba(200,200,200,0.3);
}

tr.table-expand-element-row:not(.table-expanded-row):active {
  background: #efefef;
}

.table-expand-element-row td {
  border-bottom-width: 0;
}

.table-expand-element-detail {
  overflow: hidden;
  display: flex;
}
