<div  ngStyle.gt-md="width: 500px" ngStyle.lt-lg="width: 350px">

  <div fxLayout="column" fxLayoutAlign="center center" fxHide.gt-md class="logo-wrapper">
    <img src="../../../../assets/img/logo/logo.png" alt="My Messenger">
  </div>

  <div fxLayout="column" fxLayoutAlign="center center">
    <h3>Welcome, Please Log In</h3>
  </div>

  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <mat-form-field class="w-100">
      <input
        type="email"
        id="email"
        placeholder="Email"
        matInput
        formControlName="email">
      <mat-error *ngIf="!loginForm.get('email').valid && loginForm.get('email').errors['required']">
        • Email is required
      </mat-error>
      <mat-error *ngIf="!loginForm.get('email').valid && loginForm.get('email').errors['email']">
        • Invalid email address
      </mat-error>
    </mat-form-field>

    <mat-form-field class="w-100">
      <input
        type="password"
        id="password"
        placeholder="Password"
        matInput
        formControlName="password">
      <mat-error *ngIf="!loginForm.get('password').valid && loginForm.get('password').errors['required']">
        • Password is required
      </mat-error>
    </mat-form-field>

    <div fxLayout="row" *ngIf="!(isAuthLoading$ | async)" fxLayoutAlign="center center" fxLayoutGap="10px" class="w-100">
      <button type="submit" mat-raised-button color="primary">Log In</button>
    </div>
    <div class="w-100" *ngIf="isAuthLoading$ | async" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
      <mat-spinner [strokeWidth]="5" [diameter]="36"></mat-spinner>
    </div>

    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" class="w-100">
      <small><a (click)="onForgotPasswordClick()" class="hand-pointer">Forgot Password?</a></small>
      <small><a routerLink="/sign-up">Sign Up</a></small>
    </div>
  </form>
</div>
