<section *ngIf="!(isPageLoading$ | async)">
  <div class="mb-4">
    <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" [formGroup]="peopleSearchForm" (ngSubmit)="onSearch()">
      <div [fxLayout]="(isHandset$ | async) === true ? 'column' : 'row'" fxLayoutAlign="center start" fxLayoutGap="15px" class="w-100">
        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" class="w-100">
          <mat-form-field class="w-100">
            <input type="text" placeholder="Search" formControlName="search" matInput>
          </mat-form-field>
        </div>
      </div>
      <div *ngIf="!(isPeopleLoading$ | async)" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px" class="w-100">
        <button type="submit" mat-raised-button color="primary">Search</button>
        <button type="button" mat-raised-button color="warn" (click)="onClearSearchForm()">Clear</button>
      </div>
      <div class="w-100" *ngIf="isPeopleLoading$ | async" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
        <mat-spinner [strokeWidth]="5" [diameter]="36"></mat-spinner>
      </div>
    </form>
  </div>
  <div class="expand-table mat-elevation-z4 w-100" *ngIf="dataSource.data.length > 0">

    <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort class="w-100">
      <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef> No</th>
        <td mat-cell *matCellDef="let element; let i = index;">{{dataSource.filteredData.indexOf(element)+ 1}} </td>
      </ng-container>

      <ng-container matColumnDef="displayName">
        <th mat-header-cell mat-sort-header *matHeaderCellDef matTooltip="Sort"> Name </th>
        <td mat-cell *matCellDef="let element"> {{ (authUser$ | async).uid !== element.uid ? element.displayName : (element.displayName + ' (Me)')}} </td>
      </ng-container>

      <ng-container matColumnDef="intro">
        <th mat-header-cell *matHeaderCellDef> Introduction </th>
        <td mat-cell *matCellDef="let element"> {{element.intro !== undefined ? element.intro : 'N/A'}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell mat-sort-header *matHeaderCellDef matTooltip="Sort"> Status </th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>

      <ng-container matColumnDef="functions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="accent" matTooltip="Send Message" (click)="onSendMessage(element.uid)" *ngIf="(authUser$ | async).uid !== element.uid">
            <mat-icon>message</mat-icon>
          </button>
          <button mat-icon-button color="black" matTooltip="{{expandedElement === element ? 'Show Less': 'Show More'}}" (click)="expandedElement = expandedElement === element ? null : element">
            <mat-icon *ngIf="expandedElement != element">keyboard_arrow_down</mat-icon>
            <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
          <section class="table-expand-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <div [fxLayout]="(isHandset$ | async) === true ? 'column' : 'row'" fxLayoutAlign="center start" fxLayoutGap="10px" class="mt-3 mb-3 mr-1 ml-1 w-100 mat-card">
              <!--Left Column-->
              <div fxLayout="column" class="expand-title" fxLayoutAlign="center center" fxLayoutGap="10px" [ngClass]="(isHandset$ | async) === true ? 'w-100' : 'w-50'">
                <div class="people-avatar">
                  <img src="../../../../assets/img/user/defalt-avatar.jpg" alt="USER">
                </div>
              </div>
              <!--Right Column-->
              <div fxLayout="column" class="expand-title" fxLayoutAlign="start start" fxLayoutGap="10px" [ngClass]="(isHandset$ | async) === true ? 'w-100' : 'w-50'">
                <div class="w-100" fxLayout="row" fxLayoutAlign="start center">
                  <span class="w-40"><b>Name</b></span>
                  <span class="mr-2">:</span>
                  <span>{{element.displayName !== null ? element.displayName : 'N/A'}}</span>
                </div>
                <div class="w-100" fxLayout="row" fxLayoutAlign="start center">
                  <span class="w-40"><b>Email</b></span>
                  <span class="mr-2">:</span>
                  <span>{{element.email !== null ? element.email : 'N/A'}}</span>
                </div>
                <div class="w-100" fxLayout="row" fxLayoutAlign="start center">
                  <span class="w-40"><b>Phone</b></span>
                  <span class="mr-2">:</span>
                  <span>{{element.phone !== null ? element.phone : 'N/A'}}</span>
                </div>
                <div class="w-100" fxLayout="row" fxLayoutAlign="start center">
                  <span class="w-40"><b>Status</b></span>
                  <span class="mr-2">:</span>
                  <span>{{element.status !== null ? element.status : 'N/A'}}</span>
                </div>
                <div class="w-100" fxLayout="row" fxLayoutAlign="start center">
                  <span class="w-40"><b>Introduction</b></span>
                  <span class="mr-2">:</span>
                  <span>{{element.intro !== null ? element.intro : 'N/A'}}</span>
                </div>
              </div>

            </div>
          </section>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="table-expand-element-row" [class.table-expanded-row]="expandedElement === element"> </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="table-expand-detail-row"></tr>

    </table>

    <mat-paginator [pageSizeOptions]="paginatorConfig.options" [pageSize]="paginatorConfig.defaultPageSize">
    </mat-paginator>



  </div>
</section>

<div *ngIf="isPageLoading$ | async" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px" class="w-100">
  <mat-spinner [strokeWidth]="10" [diameter]="100"></mat-spinner>
</div>

