<section *ngIf="!(isPageLoading$ | async)">
  <div class="mb-4">
    <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" [formGroup]="charForm"
          (ngSubmit)="onSubmit()">
      <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="10px" class="w-100">
        <mat-form-field class="w-100">
          <mat-label>Message To Send</mat-label>
          <textarea
            matInput
            formControlName="message"
            cdkTextareaAutosize
            #autosizeMobile="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="9"
          >
        </textarea>
        </mat-form-field>
      </div>
      <div *ngIf="!(isPeopleLoading$ | async)" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px"
           class="w-100">
        <button type="submit" mat-raised-button color="primary">Send</button>
      </div>
      <div class="w-100" *ngIf="isPeopleLoading$ | async" fxLayout="row" fxLayoutAlign="center center"
           fxLayoutGap="10px">
        <mat-spinner [strokeWidth]="5" [diameter]="36"></mat-spinner>
      </div>
    </form>
  </div>

  <div class="mb-4">
    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="Received messages from {{fromUser.displayName}}">
        <app-inbox></app-inbox>
      </mat-tab>
      <mat-tab label="Sent messages to  {{fromUser.displayName}}">
        <app-outbox></app-outbox>
      </mat-tab>
    </mat-tab-group>
  </div>
</section>

<div *ngIf="isPageLoading$ | async" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px" class="w-100">
  <mat-spinner [strokeWidth]="10" [diameter]="100"></mat-spinner>
</div>
