<section class="vh-100">
  <div class="button-wrapper mb-3" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
    <a mat-raised-button color="accent" routerLink="/messenger/people" routerLinkActive="button-hide" [routerLinkActiveOptions]="{exact: true}">
      <mat-icon>keyboard_arrow_left</mat-icon> Back
    </a>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
</section>
