@import "variables";
::ng-deep #main-side-nav-list{
  mat-accordion{
    a, mat-expansion-panel mat-expansion-panel-header a, mat-expansion-panel a{
      color: $sidenav-text-color;
      text-decoration: none;
    }
    a:hover, a.active {
      background-color: $sidenav-background-light-color;
      color: $sidenav-a-active;
    }
    mat-expansion-panel-header:hover, mat-expansion-panel-header.active{
      background-color: $sidenav-background-light-color;
      a{
        color: $sidenav-a-active;
      }
    }

    .mat-expansion-panel{
      background-color: transparent;
      .mat-expansion-panel-header{
        padding: 0;
        .mat-expansion-indicator{
          margin-right: 5px;
        }
        .mat-expansion-indicator::after{
          color: $sidenav-text-color;
        }
        .nav-caption{
          padding-left: 4px;
        }
      }
      .mat-expansion-panel-body{
        // padding: 0 0 16px 0;
        padding: 0;
        a .mat-list-item-content{
          padding-left: 32px;
          font-size: 14px;
        }
      }
    }
  }
}
