<mat-nav-list id="main-side-nav-list" *ngIf="(isAuthenticated$ | async)  && !(isAuthLoading$ | async)">
  <mat-accordion [multi]="isEnablingMultiNavPanelsExpanding">

    <mat-expansion-panel [hideToggle]="true">
      <mat-expansion-panel-header routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a mat-list-item routerLink="/messenger" (click)="onClick()">
          <mat-icon>dashboard</mat-icon>
          <span class="nav-caption">Dashboard</span>
        </a>
      </mat-expansion-panel-header>
    </mat-expansion-panel>

    <mat-expansion-panel [hideToggle]="true">
      <mat-expansion-panel-header routerLinkActive="active">
        <a mat-list-item routerLink="/messenger/people" (click)="onClick()">
          <mat-icon>people</mat-icon>
          <span class="nav-caption">People</span>
        </a>
      </mat-expansion-panel-header>
    </mat-expansion-panel>

  </mat-accordion>
</mat-nav-list>

<div *ngIf="!(isAuthenticated$ | async)  && (isAuthLoading$ | async)" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px" class="w-100">
  <mat-spinner [strokeWidth]="10" [diameter]="100"></mat-spinner>
</div>
