@import "variables";

.side-nav-profile {
  mat-card {
    background-color: $sidenav-background-light-color;
    color: $sidenav-text-color;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    div{
      img{
        height: 60px;
        width: 60px;
        border: 4px solid $sidenav-text-color;
        margin-bottom: 5px;
      }
      mat-card-title{
        font-size: 1rem;
      }
      mat-card-subtitle{
        color: $sidenav-sub-text-color;
      }
    }
    mat-divider{
      border-top-color: #c0c0c0;
      opacity: 0.1;
    }
    mat-card-actions{
      button:hover, a:hover, a.active{
        color: $sidenav-a-active !important;
      }
      a, a:visited {
        color: $sidenav-text-color;
      }
    }
  }
}
