<div fxLayout fxLayoutAlign="center" class="side-nav-profile">
  <mat-card fxFlex="100%">
    <div *ngIf="(authUser$ | async) !== null">
      <div fxLayoutAlign="center">
        <img mat-card-avatar src="assets/img/user/defalt-avatar.jpg" alt="USER">
      </div>
      <div fxLayoutAlign="center" class="text-center">
        <mat-card-title>{{(authUser$ | async).displayName}}</mat-card-title>
      </div>
      <div fxLayoutAlign="center">
        <mat-card-subtitle>{{(authUser$ | async).email}}</mat-card-subtitle>
      </div>
    </div>
    <div *ngIf="(authUser$ | async) === null" fxLayoutAlign="center center" style="height: 133px">
      <mat-spinner diameter="35"></mat-spinner>
    </div>
    <mat-divider></mat-divider>
    <mat-card-actions fxLayoutAlign="center" fxLayoutGap="20px">
      <a mat-icon-button matTooltip="My Profile" routerLink="/messenger/user-profile" routerLinkActive="active"><mat-icon>account_box</mat-icon></a>
      <button mat-icon-button  matTooltip="Logout" (click)="onLogout()"><mat-icon>exit_to_app</mat-icon></button>
    </mat-card-actions>
  </mat-card>
</div>
