@import "variables";

.intro-wrapper{
  background-color: $light-blue;
  h2, p {
    color: #ddd8dd;
    text-shadow: -1px 0 #ccc, 0 1px #ccc, 1px 0 #ccc, 0 -1px #0f0f0f
  }
  h2{
    font-size: 2.4rem;
    font-weight: bold;
  }
  p{
    font-size: 1.1rem;
    font-weight: lighter;
    font-style: italic;
  }
}

::ng-deep .logo-wrapper img {
  max-height: 100px;
}
