<div class="h-100" fxLayout="row">

  <div fxFlex.gt-md="65" fxHide.lt-lg fxLayout="row" fxLayoutAlign="center center" class="intro-wrapper">
    <div class="pl-5 pr-5" fxLayout="column" fxLayoutAlign="center center" fxFlex.gt-md="60">
      <img src="../../../../assets/img/logo/logo.png" alt="My Messenger">
      <h2>Welcome To My Messenger</h2>
      <p class="text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>
  </div>

  <div fxFlex.gt-md="35" fxFlex.lt-lg="100" fxLayoutAlign="center center">
    <router-outlet></router-outlet>
  </div>
</div>

