<div  ngStyle.gt-md="width: 500px" ngStyle.lt-lg="width: 350px">

  <div fxLayout="column" fxLayoutAlign="center center" fxHide.gt-md class="logo-wrapper">
    <img src="../../../../assets/img/logo/logo.png" alt="My Messenger">
  </div>

  <div fxLayout="column" fxLayoutAlign="center center">
    <h3>Sign Up</h3>
  </div>

  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" [formGroup]="signupForm" (ngSubmit)="onSubmit()">

    <mat-form-field class="w-100">
      <input
        type="email"
        id="email"
        placeholder="Email"
        matInput
        required
        formControlName="email">
      <mat-error *ngIf="!signupForm.get('email').valid && signupForm.get('email').errors['required']">
        • Email is required
      </mat-error>
      <mat-error *ngIf="!signupForm.get('email').valid && signupForm.get('email').errors['email']">
        • Invalid email address
      </mat-error>
    </mat-form-field>

    <mat-form-field class="w-100">
      <input
        type="password"
        id="pwd"
        placeholder="Password"
        matInput
        required
        formControlName="pwd"
        (change)="onPasswordChange()">
      <mat-error *ngIf="!signupForm.get('pwd').valid && signupForm.get('pwd').errors['required']">
        • Password is required
      </mat-error>
      <mat-error
        *ngIf="!signupForm.get('pwd').valid && signupForm.get('pwd').errors['minlength']">
        • Password should include 8 or more characters
      </mat-error>
    </mat-form-field>

    <mat-form-field class="w-100">
      <input
        type="password"
        id="confirmPwd"
        placeholder="Confirm Password"
        matInput
        required
        formControlName="confirmPwd">
      <mat-error *ngIf="!signupForm.get('confirmPwd').valid && signupForm.get('confirmPwd').errors['required']">
        • Confirm password is required
      </mat-error>
      <mat-error
        *ngIf="signupForm.get('confirmPwd').invalid && signupForm.get('confirmPwd').errors['isSamePassword']">
        • Confirm password should match with the password
      </mat-error>
    </mat-form-field>

    <div [fxLayout]="(isHandset$ | async) === true ? 'column' : 'row'" fxLayoutAlign="center start" fxLayoutGap="15px" class="w-100 mb-4 mt-4">
      <mat-checkbox (change)="agreedToTermsClick($event)">I agreed to Terms & Conditions</mat-checkbox>
    </div>

    <div fxLayout="row" *ngIf="!(isAuthLoading$ | async)" fxLayoutAlign="center center" fxLayoutGap="10px" class="w-100">
      <button type="submit" mat-raised-button color="primary">Sign Up & Login</button>
    </div>
    <div class="w-100" *ngIf="isAuthLoading$ | async" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
      <mat-spinner [strokeWidth]="5" [diameter]="36"></mat-spinner>
    </div>

    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" class="w-100">
      <small><a routerLink="/login">Back To Login</a></small>
    </div>

  </form>

</div>
