//Side Navigation
$sidenav-width: 256px;

// Colors
$light-blue: #2d70b7;

$sidenav-background-dark-color: #2d1d30;
$sidenav-background-light-color: #412945;
$sidenav-text-color: #ddd8dd;
$sidenav-sub-text-color: #c0c0c0;
$sidenav-a-active: #ffbd77;

$header-toolbar-color: #412945;

$sidenav-font-size: 14px;

// Box Shadows
$box-shadow-1: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
$box-shadow-2: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
//Header Toolbar
$box-shadow-3: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
//Page Card
$box-shadow-4: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
