/* You can add global styles to this file, and also import other style files */
@import "variables";
@import "assets/css/required-styles.css";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.semi-transparent-card {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}

a, a:visited {
  text-decoration: none;
  color: black;
}

a:hover, a.active {
  color: crimson;
}

.hand-pointer {
  cursor: pointer;
}

.mat-column-functions {
  text-align: right !important;
}

.text-light {
  color: white;
}

.text-dark {
  color: black;
}

.button-wrapper {
  .button-hide {
    display: none;
  }

  a {
    min-width: 100px;
  }
  a:last-child {
    margin-right: 10px;
  }
}

.form-view-container{
  .view-label{
    font-size: 0.8rem;
    color:	#999
  }
  .text-field{
    font: 400 20px/32px Roboto, "Helvetica Neue", sans-serif;//mat-h2-typography
    font-size: 1rem;
    margin: 0 0 18px 0;
  }
}

.app-Loading-Dialog{
  mat-dialog-container{
    background-color: transparent;
    box-shadow: none;
  }
}

.backdropBackgroundBlack {
  background-color: black;
}

.backdropBackgroundClientColor{
  background-color: $light-blue;
}

// Scroll Bar
::-webkit-scrollbar {
  width: 7px;
  background: transparent;

}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.8);
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(140, 140, 140, 0.9);
  background: rgba(255, 255, 255, 0.5);
}
