@import '~@angular/material/theming';

@include mat-core();

$primary: mat-palette($mat-indigo, 900);
// $accent:  mat-palette($mat-teal, 700); // DH Green not matched with backgrounds
$accent:  mat-palette($mat-orange, A200);
$warn: mat-palette($mat-red, 700);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme)
